### Churn Modelling

#### Importing required libraries

In [3]:
import numpy as np
import pandas as pd
import tensorflow as tf

### Dataset loading

In [4]:
data=pd.read_csv("Churn_Modelling.csv")
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [5]:
data.describe()

,RowNumber,CustomerId,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
count,10000.00000,1.000000e+04,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.00000,10000.000000,10000.000000,10000.000000
mean,5000.50000,1.569094e+07,650.528800,38.921800,5.012800,76485.889288,1.530200,0.70550,0.515100,100090.239881,0.203700
std,2886.89568,7.193619e+04,96.653299,10.487806,2.892174,62397.405202,0.581654,0.45584,0.499797,57510.492818,0.402769
min,1.00000,1.556570e+07,350.000000,18.000000,0.000000,0.000000,1.000000,0.00000,0.000000,11.580000,0.000000
25%,2500.75000,1.562853e+07,584.000000,32.000000,3.000000,0.000000,1.000000,0.00000,0.000000,51002.110000,0.000000
50%,5000.50000,1.569074e+07,652.000000,37.000000,5.000000,97198.540000,1.000000,1.00000,1.000000,100193.915000,0.000000
75%,7500.25000,1.575323e+07,718.000000,44.000000,7.000000,127644.240000,2.000000,1.00000,1.000000,149388.247500,0.000000
max,10000.00000,1.581569e+07,850.000000,92.000000,10.000000,250898.090000,4.000000,1.00000,1.000000,199992.480000,1.000000

### Declaring dependent and independent variables

In [6]:
x=data.iloc[:, 3:-1].values
y=data.iloc[:, -1].values

In [7]:
x

array([[619, 'France', 'Female', ..., 1, 1, 101348.88],
       [608, 'Spain', 'Female', ..., 0, 1, 112542.58],
       [502, 'France', 'Female', ..., 1, 0, 113931.57],
       ...,
       [709, 'France', 'Female', ..., 0, 1, 42085.58],
       [772, 'Germany', 'Male', ..., 1, 0, 92888.52],
       [792, 'France', 'Female', ..., 1, 0, 38190.78]], dtype=object)

In [8]:
y

array([1, 0, 1, ..., 1, 1, 0], dtype=int64)

### Encoding the required fields/attributes of dependent dataset

In [9]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
x[:,2]=le.fit_transform(x[:, 2])
x

array([[619, 'France', 0, ..., 1, 1, 101348.88],
       [608, 'Spain', 0, ..., 0, 1, 112542.58],
       [502, 'France', 0, ..., 1, 0, 113931.57],
       ...,
       [709, 'France', 0, ..., 0, 1, 42085.58],
       [772, 'Germany', 1, ..., 1, 0, 92888.52],
       [792, 'France', 0, ..., 1, 0, 38190.78]], dtype=object)

In [10]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
ct=ColumnTransformer(transformers=[('encoder', OneHotEncoder(), [1])], remainder='passthrough')
x = np.array(ct.fit_transform(x))

### Splitting dataset into training and testing sets

In [11]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state = 42)

### Feature Scaling the dataset

In [12]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

### Building the ANN

### Initialising the ANN

In [13]:
ann = tf.keras.models.Sequential()

### Adding input layer

In [14]:
ann.add(tf.keras.layers.Dense(units=6, activation='relu'))

### Adding hidden layer 1

In [15]:
ann.add(tf.keras.layers.Dense(units=6, activation='relu'))

### Adding output layer
#### (Here node count is 1 for the output of binary classification)

In [16]:
ann.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

### Training the ANN

### Compiling the ANN

In [17]:
ann.compile(optimizer = 'adam', loss = 'binary_crossentropy', metrics = ['accuracy'])

### Training the ANN

In [18]:
ann.fit(X_train, y_train, batch_size = 100, epochs = 100)

Epoch 1/100
80/80 [==============================] - 1s 4ms/step - loss: 0.7095 - accuracy: 0.6140
Epoch 2/100
80/80 [==============================] - 0s 4ms/step - loss: 0.5493 - accuracy: 0.7448
Epoch 3/100
80/80 [==============================] - 0s 3ms/step - loss: 0.4925 - accuracy: 0.7835
Epoch 4/100
80/80 [==============================] - 0s 3ms/step - loss: 0.4671 - accuracy: 0.7961
Epoch 5/100
80/80 [==============================] - 0s 3ms/step - loss: 0.4545 - accuracy: 0.7991
Epoch 6/100
80/80 [==============================] - 0s 3ms/step - loss: 0.4463 - accuracy: 0.8044
Epoch 7/100
80/80 [==============================] - 0s 3ms/step - loss: 0.4399 - accuracy: 0.8066
Epoch 8/100
80/80 [==============================] - 0s 3ms/step - loss: 0.4345 - accuracy: 0.8124
Epoch 9/100
80/80 [==============================] - 0s 3ms/step - loss: 0.4299 - accuracy: 0.8176
Epoch 10/100
80/80 [==============================] - 0s 3ms/step - loss: 0.4254 - accuracy: 0.8181
Epoch 11/100
80/80 [==============================] - 0s 3ms/step - loss: 0.4214 - accuracy: 0.8206
Epoch 12/100
80/80 [==============================] - 0s 3ms/step - loss: 0.4182 - accuracy: 0.8239
Epoch 13/100
80/80 [==============================] - 0s 3ms/step - loss: 0.4156 - accuracy: 0.8249
Epoch 14/100
80/80 [==============================] - 0s 3ms/step - loss: 0.4135 - accuracy: 0.8261
Epoch 15/100
80/80 [==============================] - 0s 3ms/step - loss: 0.4119 - accuracy: 0.8271
Epoch 16/100
80/80 [==============================] - 0s 3ms/step - loss: 0.4100 - accuracy: 0.8278
Epoch 17/100
80/80 [==============================] - 0s 3ms/step - loss: 0.4088 - accuracy: 0.8289
Epoch 18/100
80/80 [==============================] - 0s 3ms/step - loss: 0.4075 - accuracy: 0.8299
Epoch 19/100
80/80 [==============================] - 0s 3ms/step - loss: 0.4064 - accuracy: 0.8311
Epoch 20/100
80/80 [==============================] - 0s 3ms/step - loss: 0.4052 - accuracy: 0.8301
Epoch 21/100
80/80 [==============================] - 0s 3ms/step - loss: 0.4044 - accuracy: 0.8309
Epoch 22/100
80/80 [==============================] - 0s 3ms/step - loss: 0.4037 - accuracy: 0.8294
Epoch 23/100
80/80 [==============================] - 0s 3ms/step - loss: 0.4028 - accuracy: 0.8320
Epoch 24/100
80/80 [==============================] - 0s 3ms/step - loss: 0.4020 - accuracy: 0.8307
Epoch 25/100
80/80 [==============================] - 0s 3ms/step - loss: 0.4009 - accuracy: 0.8314
Epoch 26/100
80/80 [==============================] - 0s 3ms/step - loss: 0.3998 - accuracy: 0.8320
Epoch 27/100
80/80 [==============================] - 0s 3ms/step - loss: 0.3989 - accuracy: 0.8328
Epoch 28/100
80/80 [==============================] - 0s 3ms/step - loss: 0.3976 - accuracy: 0.8330
Epoch 29/100
80/80 [==============================] - 0s 3ms/step - loss: 0.3966 - accuracy: 0.8350
Epoch 30/100
80/80 [==============================] - 0s 3ms/step - loss: 0.3950 - accuracy: 0.8347
Epoch 31/100
80/80 [==============================] - 0s 3ms/step - loss: 0.3934 - accuracy: 0.8365
Epoch 32/100
80/80 [==============================] - 0s 3ms/step - loss: 0.3915 - accuracy: 0.8365
Epoch 33/100
80/80 [==============================] - 0s 3ms/step - loss: 0.3897 - accuracy: 0.8364
Epoch 34/100
80/80 [==============================] - 0s 3ms/step - loss: 0.3877 - accuracy: 0.8371
Epoch 35/100
80/80 [==============================] - 0s 3ms/step - loss: 0.3853 - accuracy: 0.8369
Epoch 36/100
80/80 [==============================] - 0s 3ms/step - loss: 0.3830 - accuracy: 0.8371
Epoch 37/100
80/80 [==============================] - 0s 3ms/step - loss: 0.3805 - accuracy: 0.8379
Epoch 38/100
80/80 [==============================] - 0s 3ms/step - loss: 0.3781 - accuracy: 0.8385
Epoch 39/100
80/80 [==============================] - 0s 3ms/step - loss: 0.3758 - accuracy: 0.8389
Epoch 40/100
80/80 [==============================] - 0s 3ms/step - loss: 0.3735 - accuracy: 0.8396
Epoch 41/100
80/80 [==============================] - 0s 3ms/step - loss: 0.3712 - accuracy: 0.8405
Epoch 42/100
80/80 [==============================] - 0s 3ms/step - loss: 0.3692 - accuracy: 0.8468
Epoch 43/100
80/80 [==============================] - 0s 3ms/step - loss: 0.3672 - accuracy: 0.8471
Epoch 44/100
80/80 [==============================] - 0s 3ms/step - loss: 0.3652 - accuracy: 0.8500
Epoch 45/100
80/80 [==============================] - 0s 3ms/step - loss: 0.3643 - accuracy: 0.8516
Epoch 46/100
80/80 [==============================] - 0s 3ms/step - loss: 0.3619 - accuracy: 0.8504
Epoch 47/100
80/80 [==============================] - 0s 3ms/step - loss: 0.3612 - accuracy: 0.8511
Epoch 48/100
80/80 [==============================] - 0s 3ms/step - loss: 0.3591 - accuracy: 0.8531
Epoch 49/100
80/80 [==============================] - 0s 4ms/step - loss: 0.3578 - accuracy: 0.8534
Epoch 50/100
80/80 [==============================] - 0s 3ms/step - loss: 0.3566 - accuracy: 0.8522
Epoch 51/100
80/80 [==============================] - 0s 3ms/step - loss: 0.3556 - accuracy: 0.8545
Epoch 52/100
80/80 [==============================] - 0s 3ms/step - loss: 0.3547 - accuracy: 0.8540
Epoch 53/100
80/80 [==============================] - 0s 3ms/step - loss: 0.3538 - accuracy: 0.8536
Epoch 54/100
80/80 [==============================] - 0s 3ms/step - loss: 0.3528 - accuracy: 0.8561
Epoch 55/100
80/80 [==============================] - 0s 3ms/step - loss: 0.3516 - accuracy: 0.8553
Epoch 56/100
80/80 [==============================] - 0s 3ms/step - loss: 0.3511 - accuracy: 0.8595
Epoch 57/100
80/80 [==============================] - 0s 3ms/step - loss: 0.3501 - accuracy: 0.8559
Epoch 58/100
80/80 [==============================] - 0s 3ms/step - loss: 0.3492 - accuracy: 0.8574
Epoch 59/100
80/80 [==============================] - 0s 3ms/step - loss: 0.3487 - accuracy: 0.8569
Epoch 60/100
80/80 [==============================] - 0s 3ms/step - loss: 0.3480 - accuracy: 0.8568
Epoch 61/100
80/80 [==============================] - 0s 3ms/step - loss: 0.3475 - accuracy: 0.8572
Epoch 62/100
80/80 [==============================] - 0s 4ms/step - loss: 0.3462 - accuracy: 0.8577
Epoch 63/100
80/80 [==============================] - 0s 3ms/step - loss: 0.3458 - accuracy: 0.8574
Epoch 64/100
80/80 [==============================] - 0s 3ms/step - loss: 0.3451 - accuracy: 0.8585
Epoch 65/100
80/80 [==============================] - 0s 3ms/step - loss: 0.3445 - accuracy: 0.8584
Epoch 66/100
80/80 [==============================] - 0s 3ms/step - loss: 0.3436 - accuracy: 0.8605
Epoch 67/100
80/80 [==============================] - 0s 3ms/step - loss: 0.3433 - accuracy: 0.8580
Epoch 68/100
80/80 [==============================] - 0s 3ms/step - loss: 0.3430 - accuracy: 0.8586
Epoch 69/100
80/80 [==============================] - 0s 3ms/step - loss: 0.3423 - accuracy: 0.8599
Epoch 70/100
80/80 [==============================] - 0s 3ms/step - loss: 0.3425 - accuracy: 0.8601
Epoch 71/100
80/80 [==============================] - 0s 3ms/step - loss: 0.3414 - accuracy: 0.8614
Epoch 72/100
80/80 [==============================] - 0s 3ms/step - loss: 0.3410 - accuracy: 0.8608
Epoch 73/100
80/80 [==============================] - 0s 3ms/step - loss: 0.3409 - accuracy: 0.8618
Epoch 74/100
80/80 [==============================] - 0s 3ms/step - loss: 0.3411 - accuracy: 0.8602
Epoch 75/100
80/80 [==============================] - 0s 3ms/step - loss: 0.3402 - accuracy: 0.8590
Epoch 76/100
80/80 [==============================] - 0s 3ms/step - loss: 0.3401 - accuracy: 0.8612
Epoch 77/100
80/80 [==============================] - 0s 3ms/step - loss: 0.3395 - accuracy: 0.8597
Epoch 78/100
80/80 [==============================] - 0s 3ms/step - loss: 0.3391 - accuracy: 0.8597
Epoch 79/100
80/80 [==============================] - 0s 3ms/step - loss: 0.3391 - accuracy: 0.8587
Epoch 80/100
80/80 [==============================] - 0s 3ms/step - loss: 0.3388 - accuracy: 0.8597
Epoch 81/100
80/80 [==============================] - 0s 3ms/step - loss: 0.3381 - accuracy: 0.8605
Epoch 82/100
80/80 [==============================] - 0s 3ms/step - loss: 0.3384 - accuracy: 0.8604
Epoch 83/100

80/80 [==============================] - 0s 3ms/step - loss: 0.3379 - accuracy: 0.8605
Epoch 84/100
80/80 [==============================] - 0s 3ms/step - loss: 0.3373 - accuracy: 0.8606
Epoch 85/100
80/80 [==============================] - 0s 3ms/step - loss: 0.3372 - accuracy: 0.8621
Epoch 86/100
80/80 [==============================] - 0s 3ms/step - loss: 0.3370 - accuracy: 0.8618
Epoch 87/100
80/80 [==============================] - 0s 3ms/step - loss: 0.3374 - accuracy: 0.8591
Epoch 88/100
80/80 [==============================] - 0s 3ms/step - loss: 0.3368 - accuracy: 0.8608
Epoch 89/100
80/80 [==============================] - 0s 4ms/step - loss: 0.3366 - accuracy: 0.8606
Epoch 90/100
80/80 [==============================] - 0s 3ms/step - loss: 0.3359 - accuracy: 0.8620
Epoch 91/100
80/80 [==============================] - 0s 3ms/step - loss: 0.3364 - accuracy: 0.8625
Epoch 92/100
80/80 [==============================] - 0s 3ms/step - loss: 0.3356 - accuracy: 0.8618
Epoch 93/100
80/80 [==============================] - 0s 3ms/step - loss: 0.3359 - accuracy: 0.8606
Epoch 94/100
80/80 [==============================] - 0s 3ms/step - loss: 0.3352 - accuracy: 0.8619
Epoch 95/100
80/80 [==============================] - 0s 3ms/step - loss: 0.3351 - accuracy: 0.8614
Epoch 96/100
80/80 [==============================] - 0s 3ms/step - loss: 0.3351 - accuracy: 0.8609
Epoch 97/100
80/80 [==============================] - 0s 4ms/step - loss: 0.3346 - accuracy: 0.8619
Epoch 98/100
80/80 [==============================] - 0s 3ms/step - loss: 0.3344 - accuracy: 0.8606
Epoch 99/100
80/80 [==============================] - 0s 3ms/step - loss: 0.3346 - accuracy: 0.8622
Epoch 100/100
80/80 [==============================] - 0s 3ms/step - loss: 0.3342 - accuracy: 0.8618

### Making the prediction and evaluating the model

In [19]:
y_pred = ann.predict(X_test)
y_pred = (y_pred > 0.5)
print(np.concatenate((y_pred.reshape(len(y_pred),1), y_test.reshape(len(y_test),1)),1))

63/63 [==============================] - 0s 3ms/step
[[0 0]
 [0 0]
 [0 0]
 ...
 [1 1]
 [0 1]
 [0 1]]

In [20]:
from sklearn.metrics import confusion_matrix, accuracy_score
cm = confusion_matrix(y_test, y_pred)
print(cm)
accuracy_score(y_test, y_pred)

[[1529   78]
 [ 197  196]]

0.8625

### - Work done by Manish Kumar(20SCSE1010830)